<ion-header>
  <ion-navbar>
    <ion-title>Ingresar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<button ion-button block icon-left (click)="loginFB()"><ion-icon name="logo-facebook"></ion-icon>Ingresar con Facebook</button>
</ion-content>


