<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Mapa" tabIcon="pin"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Premios" tabIcon="star"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Mi Cuenta" tabIcon="person"></ion-tab>
</ion-tabs>
