<ion-header>
  <ion-navbar>
    <ion-title>
      Mi Cuenta
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-list-header>
	  	Mis datos
		</ion-list-header>

		<ion-item>
	    <ion-avatar item-left>
	      <img [src]="user?.picture.data.url">
	    </ion-avatar>
	    <h2>{{user?.first_name}} {{user?.last_name}}</h2>
	    <p>{{user?.email}}</p>
  	</ion-item>
  </ion-list>
  <button ion-button block icon-left color="danger" (click)="logout()"><ion-icon name="exit"></ion-icon>Salir</button>
  <ion-list>
    <ion-list-header>
      Mis gustos
    </ion-list-header>

    <ion-item>
      <ion-icon name="restaurant" item-left></ion-icon>
      <ion-label>Gastronomia</ion-label>
      <ion-toggle color="energized"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon name="basketball" item-left></ion-icon>
      <ion-label>Deportes</ion-label>
      <ion-toggle color="energized"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-icon name="film" item-left></ion-icon>
      <ion-label>Espectaculos</ion-label>
      <ion-toggle color="danger"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
